<div class="row">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        User
      </div>
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-6">
            id
          </div>
          <div class="col-6">
            {{ user?.id }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            first name
          </div>
          <div class="col-6">
            {{ user?.firstName }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            last name
          </div>
          <div class="col-6">
            {{ user?.lastName }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            created
          </div>
          <div class="col-6">
            {{ user?.created | date: dateFormat }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            updated
          </div>
          <div class="col-6">
            {{ user?.updated | date: dateFormat }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            show all accounts
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm" (click)="showAllAccounts()"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            add new account
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewAccounts()"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
